/* --- Cores: Fontes --- */
.font-darkergray 	{ color: #4d4d4d; }
.font-darkgray 		{ color: #a5a5a5; }
.font-gray 			{ color: #d2d2d2; }
.font-lightgray 	{ color: #e8e8e8; }
.font-lightergray 	{ color: #f4f4f4; }
.font-white 		{ color: #ffffff; }
.font-darkblue		{ color: #656565; }
.font-blue			{ color: #646464; }
.font-lightblue		{ color: #7d7d7d; }
.font-darkred		{ color: #4c4c4c; }
.font-red			{ color: #6a6a6a; }
.font-lightred		{ color: #777777; }

/* --- Cores: Fundos --- */
.bg-darkergray 		{ background-color: #4d4d4d; }
.bg-darkgray 		{ background-color: #a5a5a5; }
.bg-gray 			{ background-color: #d2d2d2; }
.bg-lightgray 		{ background-color: #e8e8e8; }
.bg-lightergray 	{ background-color: #f4f4f4; }
.bg-darkblue		{ background-color: #656565; }
.bg-blue			{ background-color: #646464; }
.bg-lightblue		{ background-color: #7d7d7d; }
.bg-darkred			{ background-color: #4c4c4c; }
.bg-red			 	{ background-color: #6a6a6a; }
.bg-lightred	 	{ background-color: #777777; }

/*--- Dividers --- */
hr { border-top: 1px solid #d2d2d2; }
hr.red { border-top: 3px solid #6a6a6a; }
hr.red.tiny { border-top: 3px solid #6a6a6a; }

/* --- Menu --- */
	/* --- Principal */
	.nav-main-menu {
		background: #f4f4f4;
		background: -moz-linear-gradient(top,  #f4f4f4 0%, #e8e8e8 100%);
		background: -webkit-linear-gradient(top,  #f4f4f4 0%,#e8e8e8 100%);
		background: linear-gradient(to bottom,  #f4f4f4 0%,#e8e8e8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e8e8e8',GradientType=0 );
	}
	.nav-main-menu>ul>li { border-color: #d2d2d2; }
	
	.nav-main-menu .dropdown.open {
		background-color: #ffffff;
	}
	.nav-main-menu .dropdown>a,
	.nav-main-menu .dropdown>a:active,
	.nav-main-menu .dropdown>a:focus,
	.nav-main-menu .dropdown>a:hover {
		color: #4d4d4d;
	}
	.nav-main-menu .dropdown.open>a {
		background: #ffffff;
	    border: 5px solid #ffffff;
	}
	.nav-main-menu .dropdown .dropdown-toggle [class^="icon"] {
		color: #a5a5a5;
	}
	.nav-main-menu .dropdown:hover .dropdown-toggle [class^="icon"],
	.nav-main-menu .dropdown.open .dropdown-toggle [class^="icon"] {
		color: #4d4d4d;
	}
	.nav-main-menu .dropdown .dropdown-menu {
		border-color: #d2d2d2;
	}
	.nav-main-menu .dropdown .dropdown-menu a,
	.nav-main-menu .dropdown .dropdown-menu a:active,
	.nav-main-menu .dropdown .dropdown-menu a:focus,
	.nav-main-menu .dropdown .dropdown-menu a:hover {
		background-color: #ffffff;
		color: #646464;
	}
	.nav-main-menu .dropdown .dropdown-menu a [class^="icon"] {
		color: #d2d2d2;
	}
	.nav-main-menu .dropdown .dropdown-menu a .sub {
		color: #a5a5a5;
	}
	.nav-main-menu .dropdown .dropdown-menu a:active [class^="icon"],
	.nav-main-menu .dropdown .dropdown-menu a:focus [class^="icon"],
	.nav-main-menu .dropdown .dropdown-menu a:hover [class^="icon"] {
		color: #4d4d4d;
	}
	.nav-main-menu .nav-login.dropdown>a {
		color: #646464;
	}
	.nav-main-menu .nav-login.dropdown .dropdown-toggle [class^="icon"] {
		color: #646464;
	}
	.nav-main-menu .nav-search-box input[type="text"] {
		background-color: #ffffff;
		color: #4d4d4d;
	}
	.nav-main-menu .nav-search-box [class^="icon"] {
	    color: #a5a5a5;
	}

	/* --- Institucional */
	.nav-institucional {
		color: #4d4d4d;
	}
	.nav-institucional a,
	.nav-institucional a:active,
	.nav-institucional a:focus,
	.nav-institucional a:hover {
		color: #4d4d4d;
	}
	.nav-institucional.font-white .dropdown-menu a,
	.nav-institucional.font-white .dropdown-menu a:active,
	.nav-institucional.font-white .dropdown-menu a:focus,
	.nav-institucional.font-white .dropdown-menu a:hover {
		color: #4d4d4d;
	}

	/* --- Âncora */
	.nav-anchor {
		border-top: 3px solid #6a6a6a;
		border-bottom: 1px solid #e8e8e8;
	}
	.nav-anchor.fixed .item-vertical {
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
	}
	.nav-anchor .section-items a,
	.nav-anchor .section-items a:active,
	.nav-anchor .dropdown a,
	.nav-anchor .dropdown a:active {
		color: #a5a5a5;
	}
	.nav-anchor .section-items a:focus,
	.nav-anchor .dropdown a:focus,
	.nav-anchor .dropdown a:hover {
		color: #4d4d4d;
	}
	.nav-anchor .items-sessao .section-items a:hover,
	.nav-anchor .section-items a:hover {
		color: #4d4d4d;
	}
	.nav-anchor .section-items a.active,
	.nav-anchor .section-items a.active:active,
	.nav-anchor .section-items a.active:focus,
	.nav-anchor .section-items a.active:hover {
		color: #4d4d4d;
	}
	.nav-anchor .item-vertical {
		border-right: 1px solid #e8e8e8;
	}
	.nav-anchor .dropdown {
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
	}
	.nav-anchor .dropdown .dropdown-menu {
		border: 1px solid #e8e8e8;
	}
	.nav-anchor .dropdown .dropdown-menu li:hover,
	.nav-anchor .dropdown .dropdown-menu>li>a:hover {
		background-color: #ffffff;
	}
	.nav-anchor .dropdown .dropdown-menu li>[class^="icon"] {
		color: #6a6a6a;
	}
	.nav-anchor .dropdown .dropdown-menu>li>a {
		color: #4d4d4d;
	}

/* --- Links --- */
a,
a:focus {
	color: #646464;
}
a:active,
a:hover {
	color: #7d7d7d;
}

/* --- Botões --- */
.bradseg-btn,
.bradseg-btn:focus {
	background-color: #f4f4f4;
	color: #646464;
	border: 1px solid #d2d2d2;
}
.bradseg-btn:hover  {
	background-color: #ffffff;
}
.bradseg-btn:active {
	background-color: #ffffff;
}
.bradseg-btn.red,
.bradseg-btn.red:focus {
	background-color: #6a6a6a;
	color: #ffffff;
	border-color: #4c4c4c;
}
.bradseg-btn.red:hover  {
	background-color: #777777;
}
.bradseg-btn.red:active {
	background-color: #6a6a6a;
}
.bradseg-btn.blue,
.bradseg-btn.blue:focus {
	background-color: #646464;
	color: #ffffff;
	border-color: #656565;
}
.bradseg-btn.blue:hover  {
	background-color: #7d7d7d;
}
.bradseg-btn.blue:active {
	background-color: #646464;
}
.bradseg-btn:disabled,
.bradseg-btn.red:disabled,
.bradseg-btn.blue:disabled {
	background-color: #f4f4f4;
	color: #a5a5a5;
 	border: 1px solid #d2d2d2;
}
.btn-prev [class^="icon"], 
.btn-prev [class*=" icon"]{
	color: #646464;
}
.btn-next [class^="icon"], 
.btn-next [class*=" icon"]{
	color: #ffffff;
}

/* --- Campos de texto --- */
.form-group .msg-error {
	color: #6a6a6a;
}
.form-group.error input[type="text"],
.form-group.error input[type="number"],
.form-group.error input[type="password"],
.form-group.error select {
	color: #6a6a6a;
	border-color: #6a6a6a;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cecece;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cecece;
}
input[type="text"],
input[type="number"],
input[type="password"],
select {
	background-color: #FFFFFF;
	color: #646464;
	border: 1px solid #d2d2d2;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
select:active,
select:focus {
	border-color: #646464;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
}

/* --- Datepicker --- */
.datepicker:before {
	border-bottom: 7px solid #d2d2d2;
}
.datepicker:after {
	border-bottom: 6px solid #ffffff;
}
.datepicker .dow {
	color: #646464;
}
.datepicker td.day:hover {
	background: #e8e8e8;
}
.datepicker td.day.disabled {
	color: #e8e8e8;
}
.datepicker td.old,
.datepicker td.new {
	color: #d2d2d2;
}
.datepicker td.active,
.datepicker td.active:hover {
	background-color: #646464; 
	color: #ffffff;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
}
.datepicker td span:hover {
	background: #e8e8e8;
}
.datepicker td span.active,
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
	background-color: #646464; 
	color: #ffffff;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
	
}
.datepicker td span.active:active,
.datepicker td span.active.active {
	background-color: #656565;
}
.datepicker td span.old {
	color: #d2d2d2;
}
.datepicker th.next,
.datepicker th.prev {
	color: #646464;
}

/* --- Check Box --- */
.bradseg-chk input[type=checkbox] + label .checkBox {
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
}
.bradseg-chk input[type=checkbox]:checked + label .checkBox .icon {
    color: #646464;
}
.bradseg-chk input[type=checkbox]:checked + label .checkBox {
	border-color: #646464;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
}
.bradseg-chk.error input[type=checkbox] + label .checkBox {
	border-color: #6a6a6a;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cecece;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cecece;
}

/* --- Radio Button --- */
.bradseg-rdb input[type=radio] + label .radioDot {
	background-color: #ffffff;
	border: 1px solid #d2d2d2;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.bradseg-rdb input[type=radio]:checked + label .radioDot {
	border: 4px solid #d2d2d2;
	background-color: #646464;
}
.bradseg-rdb.error input[type=radio] + label .radioDot {
	border-color: #6a6a6a;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cecece;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cecece;
}
.bradseg-rdb.error input[type=radio]:checked + label .radioDot {
	background-color: #ffffff;
}

/* --- Slider --- */
.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
	border-bottom-color: #d2d2d2;
}
.slider .tooltip-inner {
	background-color: #ffffff;
	color: #646464;
	border: 1px solid #d2d2d2;
}
.slider .tooltip.bottom .tooltip-arrow {
	border-bottom-color: #d2d2d2;
}
.slider-track {
	background-color: #FFFFFF;
	border: 1px solid #d2d2d2;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.slider-selection {
	background-color: #646464;
	border-color: #656565;
}
.slider-selection.tick-slider-selection {
	background-color: #ffffff;
}
.slider-handle {
	background-color: #f4f4f4;
	border: 1px solid #d2d2d2;

	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5), inset 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5), inset 0px 1px 0px rgba(255,255,255,0.2);
}
.slider-handle:active,
.slider-handle:focus,
.slider-handle:hover {
	border-color: #646464;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(100,100,100,0.45);
}

/* --- Loader --- */
.loader-container.loader-modal{
	background: #ffffff;
	border: 2px solid #d2d2d2;
}
.loader-container.loader-lightbox{ 
	background: #4d4d4d;
	border: 2px solid #4d4d4d;
}
.loader-content{
	color: #a2a2a2;
}
.loader-content:before {
	border-color:#d2d2d2;
}
.loader-content:after {
	border-color:#6a6a6a transparent transparent;
}

/* --- Alertas --- */
.alert-success,
.alert-info,
.alert-warning,
.alert-danger {
	background-color: #f4f4f4;
	border-color: #e8e8e8;
	color: #4d4d4d;
}

/* --- Paginação --- */
.nav-pagination .pag-botoes a {
	color: #646464;
}
.nav-pagination .pag-botoes a:hover {
	color: #7d7d7d;
}
.nav-pagination .pag-botoes b {
	color: #4d4d4d;
}
.nav-pagination .pag-botoes .disabled {
	color: #d2d2d2;
}

/* --- Abas --- */
.nav-abas .nav-abas-btn.selected,
.nav-abas .nav-abas-btn.selected:active,
.nav-abas .nav-abas-btn.selected:focus,
.nav-abas .nav-abas-btn.selected:hover {
	background-color: #ffffff;
	color: #646464;
}
.nav-abas .nav-abas-btn,
.nav-abas .nav-abas-btn:focus {
	background-color: #f4f4f4;
	border-color: #d2d4da;
	color: #a5a5a5;
}
.nav-abas .nav-abas-btn:active,
.nav-abas .nav-abas-btn:hover {
	color: #4d4d4d;
}
.nav-abas .nav-abas-cnt {
	border-color: #d2d2d2;
}

/* --- Tooltip --- */
.tooltip-inner {
	color: #4d4d4d;
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
	padding: 8px 16px;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #646464;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #646464;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #646464;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #646464;
}

/* --- Modal --- */
.modal-title {
	color: #646464;
}

/* --- Paineis --- */
.bradseg-panel {
	background-color: #f4f4f4;
	border: 1px solid #d2d2d2;
}
.bradseg-panel p span {
	color: #4d4d4d;
}
.bradseg-panel a [class^="icon"] {
	color: #a5a5a5;
}

/* --- Cards --- */
.bradseg-card {
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
}
.bradseg-card .card-img {
	background-color: #a5a5a5;
}
.bradseg-card .card-icon {
	color: #6a6a6a;
}

/* --- Tabelas --- */
.bradseg-table {
	border: 1px solid #d2d2d2;
}
.bradseg-table thead {
	border-bottom: 3px solid #6a6a6a;
}
.bradseg-table tbody tr:nth-child(odd) {
    background: #f4f4f4;
}

/* --- Lista Selecionável --- */
.bradseg-select-list {
	border: 1px solid #d2d2d2;
}
.bradseg-select-list li {
	border-bottom: 1px solid #d2d2d2;
}
.bradseg-select-list li:hover {
	background-color: #d2d2d2;
}
.bradseg-select-list li.selected {
	background-color: #646464;
	color: #ffffff;
}

/* --- Rodapé --- */
footer {
	border-top: 3px solid #6a6a6a;
	background-color: #e8e8e8;
}
footer hr.red {
	border-top: 2px solid #6a6a6a;
}


/* --- Styleguide only --- */
.styleguide-header {
	background: #ffffff;
	border-top: 3px solid #6a6a6a;
	border-bottom: 1px solid #e8e8e8;
}
.styleguide-menu {
	background: rgba(244,244,244,1);
	background: -moz-linear-gradient(left, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff', GradientType=1 );
	color: #4d4d4d;
}
.styleguide-menu>ul>li>div>a:hover {
	color: #646464;
	border-left: 2px solid #646464;
}
.styleguide-menu .submenu a:hover {
	color: #646464;
	border-left: 2px solid #646464;
	padding-left: 7px;
}
.styleguide-menu .selected,
.styleguide-menu .submenu .selected {
	color: #646464;
	border-left: 2px solid #646464;
}
.copy-code,
.copy-code:active,
.copy-code:focus {
	background-color: #646464;
	color: #FFFFFF;
	border: 1px solid #646464;
}
.copy-code:hover {
	background-color: #7d7d7d;
	color: #FFFFFF;
}